/*
 
      _                
     / \   _ __  _ __  
    / _ \ | '_ \| '_ \ 
   / ___ \| |_) | |_) |
  /_/   \_\ .__/| .__/ 
          |_|   |_|    
 
*/

@import url('colors.css');



/*=============================================
=            generals            =
=============================================*/

h1, h2, h3, h4, h5, h6{
  margin: 0;
}



/*=============================================
=            main-container            =
=============================================*/

#main-container{
  box-sizing: border-box;
  font-family: 'Baloo Thambi 2';
  background: var(--main-color);
  height: 100vh;
  color: white;
  border-top: 1px solid var(--dark-background);
}


/*=============================================
=            title            =
=============================================*/

#title{
  cursor: pointer;
  width: 100%;
  background: var(--dark-background);
  position: fixed;
  padding: 1%;
}

#subtitule{
  display: none;
  font-size: .9rem;
  border-bottom: 1px solid white;
  transition: all 2s ease-in-out;
}


/*=============================================
=            Graphic            =
=============================================*/

#graphic-container{
  background: var(--dark-background);
  margin-top: 10%;
}

/* #graphic{
} */

/*=============================================
=            Info         =
=============================================*/

#info-container{
  display: flex;
  width: 80%;
  margin: 5% auto;
  justify-content: space-around;
}

/*----------  Infoblocks  ----------*/

.infoblock{
  height: 15vh;
  background-color: var(--dark-background);
  width: 20%;
  padding: 1vh;
}

.infoblock-labels{
  display: flex;
  height: 80%;
  font-size: .87em;
  flex-direction: column;
  padding-left: 4%;
  justify-content: space-around;
}


/*=============================================
=            Controls            =
=============================================*/

#controls-container{
  display: flex;
  justify-content: center;
}

#play-control{
  cursor: pointer;
  font-size: 4rem;
  color: var(--rose);
  transition: color .2s ease-in;
}

#play-control:hover{
  color: var(--hover-rose);
}


/*=============================================
=            Algoritmos            =
=============================================*/

.algorithm-option{
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.algorithm-option:hover{
  color: var(--rose);
}






